# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.ipynb
# C extensions
*.so

# Distribution / packaging
.Python

env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest
.cache/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*.DS_Store

# Environment variables
.env
*.env

# Other files
*.bak
*.tmp
*.log

# Ignore CSV and XLSX files in the data folder
data/*.csv
data/*.xlsx

